.tituloContacto{
    margin-top: 27px;

    grid-area: titulo;
}

main{
    grid-area: main;
}

.footerContacto{
    grid-area: footer;
}

.gridContacto{
    display: grid;
    grid-template-areas: 
    "titulo"
    "main"
    "footer";
}


.formContacto{
    margin: 20px 0 20px 0;
    padding-left: 25px;
    width: 500px;

    #form{
        width: 450px;
    }

    #titContacto{
        color: white;
    }

}

