.tituloContacto{
    margin-top: 27px;

    grid-area: titulo;
}

.mainContacto{
    grid-area: main;
}

.footerContacto{
    grid-area: footer;
}

.gridContacto{
    display: grid;
    grid-template-areas: 
    "titulo"
    "main"
    "footer";

    grid-row-gap: 30px;
}


.formContacto{
    margin: 0 0 20px 0;
    padding-left: 25px;
    width: 500px;

    #form{
        width: 450px;
    }

    #titContacto{
        color: white;
    }

}

@media (max-width:500px){

    .formContacto{
        width: 80%;

        #form{
            width: 90%;
        }
    }
}