@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Mukta:wght@200&family=Noto+Serif&family=Nuosu+SIL&family=Oswald:wght@200&family=Roboto+Mono:wght@100&family=Roboto+Slab:wght@100&family=Trispace:wght@200&display=swap');

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    height: 100%;

    .h1Index {
        align-self: center;
        margin: 30px;
        width: 45%;

        #h1Index {
            padding: 0 20px 10px 20px;
            font-family: 'Nuosu SIL';
            color: whitesmoke;
            background-color: rgb(77, 199, 72);
            text-align: center;
        }
    }

    #video {
        align-self: center;
    }

    .h2Index {
        align-self: center;
        width: 45%;
        margin: 30px;

        #h2Index {
            padding: 0 20px 10px 20px;
            font-family: 'Nuosu SIL';
            color: whitesmoke;
            background-color: rgb(77, 199, 72);
            text-align: center;
        }
    }

    .pedirInicio {
        display: flex;
        flex-direction: column;
        align-self: center;

        .carrousel {
            margin: 5px 0 0 15px;
            height: 534px;
            width: 400px;
        }

        .botonPedir {
            margin: 20px;
            text-align: center;
            
            #pedir {
                height: 70px;
                width: 120px;
                padding: 0 10px 0 10px;
                font-family: 'Nuosu SIL';
                color: whitesmoke;
                background-color: rgb(77, 199, 72);
            }
        }
    }

    .cateringIndex {
        font-size: 30px;
        margin: 20px;
        padding: 0 15px 5px 15px;
        font-family: 'Nuosu SIL';
        color: whitesmoke;
        background-color: rgb(77, 199, 72);
        text-align: center;
    }

    .h3Index {
        color: whitesmoke;
        font-size: 35px;
        text-align: center;
    }

    .consultaCatering {
        display: flex;
        flex-direction: column;
        align-self: center;

        .h3Servicio {
            color: whitesmoke;
        }

        .formCatering {
            margin: 20px 0 20px 0;
            padding-left: 25px;
            width: 87%;
            text-align: start;
            align-self: center;

            #form {
                width: 450px;
            }

            #titCatering {
                color: white;
            }

        }
    }
}

.footerIndex {
    grid-area: footer;
}

.gridIndex {
    display: grid;
    grid-template-areas:
        "main"
        "footer";

    grid-row-gap: 100px;
}

@media (min-width:320px) and (max-width:480px) {

    .h1Index {
        // width: 80%;
        font-size: 25px;
        text-align: center;
    }

    #video {
        width: 75%;
        height: 275px;
    }

    .botonPedir {
        margin: 20px;
    }

    .h3Index {
        margin-left: 20px;
    }

    .formCatering {
        width: 80%;

        #form {
            width: 90%;
        }
    }
}