.h1Pedidos{
    grid-area: titulo;
}

main{
    grid-area: main;
}

.footerPedidos{
    grid-area: footer;
}

.gridPedidos{
    display: grid;
    grid-template-areas: 
    "titulo"
    "main"
    "footer";
}