.h1Pedidos{
    grid-area: titulo;
}

.mainPedidos{
    grid-area: mainPedidos;
}

.footerPedidos{
    grid-area: footer;
}

.gridPedidos{
    display: grid;
    grid-template-areas: 
    "titulo"
    "mainPedidos"
    "footer";
}

.formPedidos{
    margin: 0 0 20px 0;
    padding-left: 25px;
    width: 500px;

    #form{
        width: 450px;
    }

    #titPedidos{
        color: white;
    }

}

@media (max-width:500px){

    .formPedidos{
        width: 80%;

        #form{
            width: 90%;
        }
    }
}