@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Mukta:wght@200&family=Noto+Serif&family=Oswald:wght@200&family=Roboto+Mono:wght@100&family=Roboto+Slab:wght@100&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-size: 1em;
    font-family: 'Inconsolata', monospace;
}

body{ 
    background-color: rgb(31, 26, 26);
 }

 a{
    text-decoration: none;
    font-size: 2.5em;
    color: black;
}



/* Organizo la barra de navegacion */

header{
    width: 100%;
    height: 50px;
    padding: 60px 0 55px 0;
    background-color: rgb(187, 66, 50);
    position: fixed;
    display: flex;
    align-items: center;
}

header .logo{
    padding-bottom: 60px;
}

header .textoLogo{
    color: black;
    width: 250px;
    padding-left: 25px;
    font-size: 2.5em;
    font-weight: 600;
}

header nav{
    width: 100%;
    display: flex;
    flex-direction: row;
}

header nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li{
    padding-left: 20px;
    padding-right: 20px;
}

.imgHeader{
    height: 100px;
    width: 100px;
    margin-top: 60px;
    margin-left: 20px;
    border-radius: 50%;
}

.a_header{
    transition: all 2s;
}

.a_header:hover{
    background-color: whitesmoke;
}


/* FOOTER */

footer{
    background-color: rgb(77, 199, 72);
    width: 100%
}


.instagram{
    color: black;
    text-decoration: underline;
}

/* SECCION INICIO */

header{
    grid-area: barraNav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.gridIndex{
    display: grid;
    grid-template-areas: 
    "barraNav"
    "main"
    "footer";

    grid-template-rows: 120px;
    grid-row-gap: 20px;

}


/* SECCION MENU */

header{
    grid-area: barraNav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.gridMenu{
    display: grid;
    grid-template-areas: 
    "barraNav"
    "main"
    "footer";
    
    grid-row-gap: 100px;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titulosMenu{
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 168, 0);
}

.pizza{
    width: 350px;
}

.pizzaMenu{
    height: 400px;
    width: 330px;
    margin-top: 0px;
    margin-left: 20px;

}

.pizzaMenu:hover{
    height: 450px;
    width: 380px;
}

.pieMenu{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
    width: auto;
    color: rgb(253, 33, 33);
}

/* SECCION PEDIDOS */

.gridPedidos{
    display: grid;
    grid-template-areas: 
    "barraNav"
    "main"
    "footer";
    
    grid-row-gap: 100px;
}

/* SECCION SERVICIOS */

.gridServicios{
    display: grid;
    grid-template-areas: 
    "barraNav"
    "main"
    "footer";
    
    grid-row-gap: 100px;
}

/* SECCION CONTACTO */

.gridContacto{
    display: grid;
    grid-template-areas: 
    "barraNav"
    "main"
    "footer";
    
    grid-row-gap: 100px;
}

h1{
    color: white;
    font-size: 32px;
    padding-top: 80px;
}

form{
    width: 200px;
    padding-top: 130px;
    padding-left: 15px;
    color: white
}


/* form{
    padding-top: 100px;
    width: 400px;
    color: white;
} */

/* label{
    color: white;
    margin: 50px;
    padding-top: 80px;
} */

.ingresoFormulario{
    margin: 5px 0 15px 0;
}

/* div{
    color: white;
    width: 450px;
} */

.botones{
    margin: 10px;
}

p{
    color: rgb(255, 29, 29);
}

